:root {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.3;
  font-weight: 600;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #0F2854;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.card{
  color: #111827;
margin: 10px;
width: 30%;
height: 300px;
background-color: #BDE8F5;

}
.card:hover{
  transform: scale(1.06);
  transition: .3s ease ;
  box-shadow: hsl(0, 0%, 13%) 10px 5px 15px 
 
}
.custom{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

.custom:hover{
  transition: transform .3s ease;
  transform: scale(1.1);
  background: rgba(255, 162, 0, .8);
}


.container{

 
 margin-right: auto;
 margin-left: auto;
 padding-top: 40px;


}


.checkbox{
  height: 18px;
  width: 18px;
  accent-color: orangered;
}

.modal{
display: block;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
}

